@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,700;1,100&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    padding: 0%;
}

section,
nav,
header,
footer {
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    font-weight: 700;
    font-size: 3.9em;
    line-height: 87.67px;
    height: 176px;
    position: relative;
    z-index: 3;
}

h1 span {
    color: #FFB703;
}

h2 {
    font-family: 'Mplus 1p Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #111B57;
}

h2 span {
    color: #FFB703;
}

h3 {
    font-family: 'Mplus 1p Bold', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: #111B57;
}

h3 span {
    color: #FFB703;
}

h4 {
    font-family: 'Mplus 1p', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 36px;
    color: #111B57;
}

p {
    font-family: 'Montserrat', sans-serif;
}

button {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    position: sticky;
    top: 0%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

nav button:first-child {
    padding: 12px 30px;
    background: rgba(255, 228, 146, 1);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
}

nav ul {
    display: flex;
    gap: 20px;
    align-content: center;
}

nav li,
nav a {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    list-style-type: none;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    align-items: center;
}

nav ul a {
    padding: 10px;
}

nav li a:hover {
    font-weight: bold;
    font-size: .95rem;
}

nav ul a.active {
    font-weight: bold;
    text-decoration: #FFB703 underline .2em;
    text-underline-offset: 5px;
}

nav>div:last-of-type {
    display: flex;
    justify-content: center;
    gap: 10px;
    background: rgba(217, 217, 217, 1);
    border-radius: 100px;
    align-items: center;
    padding: 4px 4px 4px 11px;
}

nav div p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
}

nav div button:first-of-type {
    background-color: #FFF5D8;
    border-radius: 100%;
    border: none;
    padding: 16.12px 15px 16.12px 11.62px;
}

nav div button:last-of-type {
    background-color: #FFF5D8;
    border-radius: 100%;
    border: none;
    padding: 12.12px 11px 8.88px 11px;
}

nav li {
    background: linear-gradient(0deg, #FFB703, #FFB703) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
    padding: 5px;
    --bg-h: 2px;
    box-sizing: border-box;
}

nav li:where(:hover,
 :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

.view_more {
    padding: 15px 100px;
    width: fit-content;
    border-radius: 100px;
    border: none;
    background-color: #FFB703;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Mplus 1p Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-top: 50px;
    transition: 100ms;
}

.view_more:hover {
    background-color: #ffb803cd;
}

header {
    padding-top: calc(191px - 15px);
    padding-bottom: 225px;
    position: relative;
    border-radius: 40px;
    background-image: url(/images/Untitled-1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}

header button {
    font-family: 'Mplus 1p Bold', sans-serif;
    padding: 12px 0px;
    background: rgba(255, 183, 3, 1);
    border: none;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 700;
    width: 373px;
    height: 60px;
}

header img {
    position: absolute;
    width: fit-content;
    height: 417px;
    right: 18%;
    top: 101px;
    border-radius: 40px;
    transition-duration: 200ms;
}

header img:hover {
    transform: scale(1.05);
}

header>svg {
    position: absolute;
    top: 0px;
    right: 12%;
}

.svgs svg {
    transition-duration: 200ms;
}

.svgs svg:hover:nth-child(even) {
    transform: scale(1.05);
}

.svgs svg:hover:nth-child(odd) {
    transform: scale(1.1);
}

.svgs svg:first-child {
    position: absolute;
    right: 18%;
    top: 433px;
    z-index: +2;
}

.svgs svg:nth-child(2) {
    position: absolute;
    right: 33%;
    top: 400px;
    z-index: 2;
}

.svgs svg:nth-child(3) {
    position: absolute;
    right: 41%;
    top: 266px;
}

.svgs svg:nth-child(4) {
    position: absolute;
    right: 38.5%;
    top: 500px;
}

.svgs svg:nth-child(5) {
    position: absolute;
    right: 33.5%;
    top: 155px;
}

.svgs svg:nth-child(6) {
    position: absolute;
    right: 20%;
    top: 173px;
}

.svgs svg:nth-child(7) {
    position: absolute;
    right: 18%;
    top: 328px;
}

.search,
.search>div,
.search ul,
.search li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.search {
    gap: 1%;
    position: sticky;
    top: 81px;
}

.search ul {
    width: 598px;
    height: 42px;
    padding: 0% 10px;
    margin: 0%;
    background: #FFF5D8;
    border-radius: 25px;
}

.search li {
    cursor: pointer;
    position: relative;
}

.search li:hover {
    height: 42px;
}

.search>div {
    position: relative;
    gap: 10px;
    background: #D9D9D9;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 4px;
    width: 690px;
    height: 50px;
}

.search input {
    width: 90%;
    padding: 11px calc(55px + 16px) 11px 15px;
    background: #FFF5D8;
    border-radius: 25.5px;
    border: none;
    font-size: 16px;
}

.search ::placeholder {
    font-style: italic;
}

#search-button {
    position: absolute;
    padding-top: 8px;
    height: 34px;
    width: 55px;
    right: 8px;
    top: 8px;
    border: none;
    border-radius: 18px;
    background: rgba(255, 183, 3, 0.75);
    z-index: 2;
    cursor: pointer;
}

.dropbtn {
    background: #FFF5D8;
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 3px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    background-color: #3e8e41;
}

footer {
    position: relative;
    bottom: 0px;
    background: #FFF5D8;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

footer div,
footer form {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

footer ul,
footer li,
footer a {
    color: black;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Mplus 1p', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

footer input,
footer textarea {
    padding: 5px 15px;
    background: #FFFFFF;
    border: none;
    border-left: 5px solid #FFB703;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer input[type=submit] {
    padding: 8px 35px;
    width: fit-content;
    border: none;
    background-color: #FFB703;
    font-family: 'Mplus 1p Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    border-radius: 100px;
    cursor: pointer;
    transition: 300ms;
}

footer input[type=submit]:hover {
    background-color: #CC9202;
}

footer div:last-of-type {
    height: 50px;
    width: 100%;
    background: #FFE492;
    position: absolute;
    top: 100%;
    left: 0%;
}