body {
    background-color: #F4F4F4;
}

section {
    margin-top: 16px;
    display: flex;
    gap: 16px;
}

section>div:first-of-type {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

section>div>div {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.product>div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product>div>img {
    max-height: 400px;
    max-width: 100%;
    border-radius: 10px;
    align-self: center;
}

.product .images {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    overflow-x: auto;
    align-items: center;
    max-width: fit-content;
    align-self: center;
}

.product .images img {
    max-height: 100%;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    transition: 100ms;
    border-color: #FFB703;
    box-sizing: border-box;
}

.product .images img.active {
    border: solid 3px #FFB703;
    border-radius: 5px;
}

.product .images img:hover {
    border: solid 3px #ffb80387;
    border-radius: 5px;
}

.product .images svg {
    max-width: fit-content;
    height: 40px;
    cursor: pointer;
    opacity: 0.8;
    transition: 100ms;
}

.product .images svg:hover {
    max-width: fit-content;
    height: 50px;
    opacity: 1;
}

.product p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #000000;
}

.product .description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    background: #ededed;
    border-left: 7px solid #FFB703;
    padding: 20px;
}

.product table {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 16px;
}

.product td,
.product th {
    padding: 5px;
    width: 150px;
}

.product tr:nth-child(odd) {
    background-color: #ffffff;
}

.product tr {
    transition: 200ms;
}

.product tr:hover {
    background-color: #FFB703;
}

.you_may_like,
.recent {
    display: flex;
    flex-wrap: wrap;
}

.you_may_like>div,
.recent>div {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
}

.you_may_like .item,
.recent .item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
}

.you_may_like .item>div,
.recent .item>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.name {
    font-weight: bold;
}

.you_may_like .item div button,
.recent .item div button {
    padding: 5px 5px;
    border-radius: 50%;
    border: none;
    background-color: #FFF5D8;
}

.you_may_like .item>button,
.recent .item>button {
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: auto;
    background-color: #FFB703;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
}

.prices {
    position: relative;
}

.prices>div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 10px;
    position: sticky;
    top: 89.98px;
    z-index: 10;
}

.amount {
    display: flex;
    gap: 10px;
    align-items: center;
}

.amount p:first-of-type {
    text-decoration: line-through;
}

.amount p:last-of-type {
    font-weight: 700;
    font-size: 24px;
}

.prices .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.options {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.options button:first-of-type {
    flex: 1;
    background-color: white;
    box-sizing: border-box;
    border: 3px solid #000000;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 141.4%;
    text-align: center;
    color: #000000;
    padding: 14px 53px;
    border-radius: 5px;
    transition: 100ms;
}

.options button:first-of-type:hover {
    background-color: rgb(222, 222, 222);
}

.options button:last-of-type {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    background: #D9D9D9;
}

.prices>div>div>button {
    background-color: #FFB703;
    padding: 15px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 141.4%;
    text-align: center;
    color: #000000;
    border-radius: 5px;
    transition: 100ms;
}

.prices>div>div>button:hover {
    background-color: #ffb803c4;
}

.discount {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 20px 10px;
    background-color: #FFE492;
}