p {
    font-weight: bold;
    font-size: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons div {
    display: flex;
    gap: 10px;
}

.buttons div button {
    font-family: 'Mplus 1p Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: black;
    padding: 5px 25px;
    border-radius: 15px;
    flex: 1;
}

.buttons div button:first-child {
    background: #FFB703;
    border: none;
}

.buttons div button:last-child {
    background: white;
    border: 3px solid black;
}

.buttons>button {
    font-family: 'Mplus 1p Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: #111B57;
    border: none;
    border-radius: 15px;
    padding: 15px 25px;
}

.buttons button {
    transition: 100ms;
}

.buttons button:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}